.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2.5rem;
  font-family: var(--font-family);
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.4); /* make background img darker */
}
/* logo style starts */
.start-page .logo {
  width: 21rem;
  height: auto;
  filter: drop-shadow(0 12px 12px rgba(0, 0, 0, 1));
  transition: transform 0.2s ease-in-out;
}

.start-page .logo:hover {
  transform: scale(1.05) rotate(-5deg);
  filter: drop-shadow(3px 3px 1px var(--jinx-blue));
}
/* logo style ends */

.game-title{
  font-family: 'lacquer', sans-serif;
  color: var(--vi-pink);
  font-size: 3rem;
  letter-spacing: 2px;
  text-shadow:  0px 10px 10px rgba(0,0,0,1);
  margin-bottom: 3.5rem;
}

.difficulty-buttons {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  flex-wrap: wrap;
}



