.card-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 2rem;
  }
  
  .cards-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .card {
    background: url('../assets/img/boMel.webp') cover;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    width: 15rem;
    transition: transform 0.2s ease;
    padding: 1rem;
    padding-bottom: 2rem;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
.round-counter{
  font-weight: bold;
  letter-spacing: 1px;
}