.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;         
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  position: fixed;          
  top: 0;
  left: 0;
  z-index: 9999;             
}

.loader-container p{
  color: rgb(189, 182, 182);
  font-size: 2rem;
}