.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;         
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  position: fixed;          
  top: 0;
  left: 0;
  z-index: 9999;             
}

.loader-container p{
  color: var(--lightest-color);
  font-size: 1.8rem;
  font-family: 'Arial', sans-serif;
  text-align: center;
}