:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #BB19A6;
  --secondary-color: #4615C4;
  --pinkish-color: #FCABFC;
  --lightest-color: #FCABFC;
  --blueish-color: #4BB3F8;
  --box-shadow: 0 0 10px 5px var(--lightest-color);

  --font-primary: 'Silkscreen', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.5;
}

body {
  background: url('./assets/img/jinx&vi.webp') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: var(--font-primary);

}


