:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: #D49E7A;
  --secondary-color: #3F3140;
  --pinkish-color: #993D48;
  --lightest-color: #F4E1D2;
  --blueish-color: #34515F;
  --box-shadow: 0 0 36px 9px var(--lightest-color);

  --font-primary: 'Silkscreen', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.5;
}

body {
  background: url('./assets/img/boMel.webp') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: var(--font-primary);

}


